.App {
  display: flex;
  flex-direction: column;
  height: 1000vh;
}
.navLinkOption:hover{
  color: #fed136;
  cursor: pointer;
}
.heroButton:hover{
  background-color: #a88d2cd8;
  cursor: pointer;
}
.hideNavOptionsCont{
  display: none;
}
.hideMobileIconCont{
  display: none;
}


@media (min-width: 992px){
  .mainNavCont{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 25px;

    border: none;
    background-color: rgba(33, 37, 41, 0.8);
    justify-content: space-between;
  }
  .showMobileIconCont{
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: #fed136;
    color: black;
    font-size: 25px;
  }
  .logoTitle{
    color: #fed136;
    margin: 0 0 0 25px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.75em;
    font-weight: 100;
  }
  .showNavOptionsCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
  }
  .navLinkOption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-right: 15px;
    color: #fff;
  }
  .heroIntroText{
    margin-top: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
  }
  .heroMainText{
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    line-height: 75px;
    font-weight: 800;
    padding: 20px;
    color: white;
    margin: 20px 0 20px 0;
  }
  .heroButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ffd12c;
    width: 18vw;
    height:10vh;
    margin-top: 80px;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(34, 28, 6, 0.42);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}
@media (min-width: 300px) and (max-width: 991px){
  .mainNavCont{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 20px;

    border: none;
    background-color: rgba(33, 37, 41, 0.7);
    justify-content: space-between;
  }
  .showMobileIconCont{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: #fed136;
    color: black;
    font-size: 25px;
  }
  .showNavOptionsCont{
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    background-color: white;
  }
  .logoTitle{
    color: #fed136;
    margin: 0 0 0 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.75em;
    font-weight: 100;
  }
  .heroIntroText{
    margin-top: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;
    color: white;
  }
  .heroMainText{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    line-height: 10px;
    font-weight: 700;
    padding: 20px;
    color: white;
    margin: 20px 0 20px 0;
  }
  .heroButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ffd12c;
    width: 45vw;
    height:10vh;
    margin-top: 140px;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(34, 28, 6, 0.42);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}
.mainHeroSection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

